img {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1600px;
    padding: 0;
}

header {
    background-color: #f7f7f7;
    background-image: url("../img/bg/bg_header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 800px;
    max-width: 1600px;
	background-color: red;
}

.header_menu {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header_menu ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
}

.header_menu li {
    display: inline-block;
    padding: 35px 15px;
}

.header-logo {
    height: 85px;
    left: 753px;
    top: 35px;
    width: 94px;
    z-index: 165;
}

.header_menu a {
    color: rgb(77, 73, 89);
    display: inline-block;
    font-family: "Lato";
    line-height: 1.2;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
}

.about-us {
    align-items: center;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    height: 469px;
    justify-content: center;
    text-align: center;
    max-width: 1600px;
}

.about-us img {
    height: 43px;
    left: 774px;
    /*position: absolute;*/
    top: 917px;
    width: 52px;
}

.about-us .about-us-title {
    color: rgb(53, 55, 56);
    font-size: 18px;
    font-family: "Lato";
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0.2em;
    margin-top: 50px;
    text-transform: uppercase;
}

.about-us .about-us-text {
    color: rgb(132, 135, 137);
    display: inline-block;
    font-family: "Lato";
    font-size: 18px;
    height: 84px;
    line-height: 1.889;
    text-align: center;
    width: 67%;
}

.work {
    max-width: 1600px;
}

.row, .work-row {
    align-content: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.work-row {
    height: 600px;
}

.block-logo {
    display: flex;
    justify-content: center;
    position: relative;
    width: 67.66%;
}

.block-logo .bike-img, .block-description .bike-img, .block-description .bike-img__h100 {
    width: 100%;
}

.block-description .bike-img {
    height: 200px;
}

.bike-img__h100 {
    height: 600px;
}

.block-logo .bike-logo, .block-description .bike-logo {
    position: absolute;
}

.line {
    background-color: rgba(53, 55, 56, 0.2);
    height: 1px;
    margin-bottom: 55px;
    margin-top: 43px;
    width: 50px;
}

.triangle {
    border: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    top: 400px;
}

.vintage-olivia-logo {
    height: 118px;
    left: calc(50% - 56px);
    top: calc(50% - 59px);
    width: 113px;
}

.la-boriosa-logo {
    height: 152px;
    left: calc(50% - 83px);
    top: calc(50% - 76px);
    width: 177px;
}

.m-hulot-logo {
    height: 67px;
    /*left: 164px;*/
    left: calc(50% - 104px);
    top: 270px;
    width: 208px;
}

.block-description {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 33.33%;
}

.work-row .block-description {
    position: relative;
}

.col-6 {
    width: 50%;
}

.block-description .bike-icon {
    height: 30px;
    width: 41px;
}

.block-description .bike-description-title {
    color: rgb(53, 55, 56);
    font-family: "Lato";
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
}

.block-description .bike-description-text {
    color: rgb(132, 135, 137);
    font-family: "Lato";
    font-size: 16px;
    height: 134px;
    line-height: 1.875;
    text-align: justify;
    width: 398px;
}

.social-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 469px;
    justify-content: center;
    text-align: center;
}

.social-links .social-title {
    color: rgb(53, 55, 56);
    display: block;
    font-family: "Lato";
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.social-links .social-text {
    color: rgb(132, 135, 137);
    display: inline-block;
    font-family: "Lato";
    line-height: 1.417;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    width: 1024px;
    margin: 0;
}

.flex-row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.column {
    align-items: stretch;
    position: relative;
    width: 33.33%;
}

.bike-img__w50 {
    width: 50%;
    height: 50%;
}

.bike-img__w100 {
    width: 100%;
}



.discover {
    align-items: center;
    background-color: rgb(40, 47, 53);
    display: flex;
    height: 200px;
    justify-content: center;
    width: 100%;
}

.discover a {
    background-color: rgb(40, 47, 53);
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: "Lato";
    font-size: 14px;
    font-weight: bold;
    height: 52px;
    line-height: 52px;
    letter-spacing: 0.2em;
    opacity: 0.5;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 302px;
}

.button_bg {
    background-color: #282f35;
    left: 648px;
    position: absolute;
    top: 4145px;
    z-index: 31;
}

.mailing {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 469px;
    justify-content: center;
}

.mailing p {
    color: rgb(132, 135, 137);
    font-family: "Lato";
    font-size: 24px;
    font-style: italic;
    line-height: 1.417;
}

.email button {
    background-color: rgb(100, 194, 158);
    color: rgb(255, 255, 255);
    font-family: "Lato";
    font-size: 24px;
    height: 69px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    width: 126px;
}

.email input {
    background-color: rgb(255, 255, 255);
    border-color: rgb(211, 215, 217);
    border-style: solid;
    border-width: 1px;
    color: rgba(146, 146, 146, 0.502);
    font-family: "Lato";
    font-size: 20px;
    font-style: italic;
    height: 69px;
    line-height: 1.2;
    padding-left: 28px;
    width: 400px;
}

footer .col-4{
    align-items: flex-start;
    display: flex;
    height: 250px;
    justify-content: center;
}

footer p {
    color: rgb(132, 135, 137);
    font-family: "Lato";
    font-size: 16px;
    font-weight: bold;
    line-height: 1.117;
    text-align: left;
}

.social, .credits {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social img, .credits img {
    padding: 0 8px;
}

.row .adress {
    box-sizing: border-box;
    justify-content: center;
    padding-left:15%;
}

.adress p {
     margin: 0;
     padding: 0;
 }

.adress p:first-child {
    font-weight: bold;
}

.row .social {
    align-items: center;
    display: flex;
}

.row .credits {
    align-items: center;
    display: flex;
}


@media screen and (max-width: 1024px) {

    .work-row, .flex-row {
        align-items: center;
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        overflow: hidden;
    }

    .block-logo {
        height: 600px;
        position: relative;
        order: 1;
        -webkit-order: 1;
        -moz-flex-order: 1;
        flex: 2;
        -webkit-flex: 2;
        -moz-flex: 2;
    }

    .block-description {
        display: flex;
        flex-direction: row;
        height: 400px;
        justify-content: space-around;
        position: relative;
        order: 2;
        -webkit-order: 2;
        -moz-flex-order: 2;
        flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
    }

    .bike-img__h100 {
        height: 100%;

    }

}

.shop {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    max-width: 1600px;
    margin: 0 auto;
}
.block {
    display: flex;
    flex-direction: column;
    height: 534px;
    flex-basis: 33%;
    -webkit-flex: 3.3;
    -moz-flex: 3.3;

    order: 0;
    -webkit-order: 0;
    -moz-flex-order: 0;
    background-color: red;
}

.block__sep-hor {
    display: flex;
    flex-direction: column;
    position: relative;
}

.block__sep-ver {
    display: flex;
    flex-direction: row;
}

.block__sep-hor .block__sep-ver {
    height:50%;
}


.block__sep-hor .block-image {
    width: 100%;
    height: 50%;
}

.block__sep-ver .block-image {
    width: 50%;
    height: 100%;
}

.green-veil {
    background-color: rgba(100, 194, 158, 0.8);
    height: 50%;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
}

.shop-logo {
    height: 30px;
    left: calc(50% - 25px);
    position: absolute;
    top: calc(25% - 15px);
    width: 51px;
}

.shop-now {
    color: rgb(255, 255, 255);
    font-family: "Lato";
    font-size: 14px;
    font-weight: bold;
    left: calc(50% - 38px);
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    top: 150px;
    position: absolute;
}


@media screen and (max-width: 1024px) {

    .shop {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
    }
    .block {
        order: 1;
        -webkit-order: 1;
        -moz-flex-order: 1;
        flex: 5;
        -webkit-flex: 5;
        -moz-flex: 5;
    }


}
